{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Thanks - Perfect Cushion Store
{% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <br>
            <br>
            <h1 class="text-center my_title">
                Thanks for placing your order
            </h1>
            <br>
            <br>
            <p>Your order number is: <b>{{ customer_order.id }}</b></p>
            <br>
            <p>
                We have received your order and will begin processing right away. For your records an email confirmation
                has been sent to you. It contains details of the items you purchased.
            </p>
        </div>
    </div>
    <br>
    <br>
{% endblock %}