{% load static %}

<header>
    <div style="text-align: center;">
        <a href="{% url 'shop:allProdCat' %}"><img src="{% static 'img/logo.png' %}" alt="Perfect Cushion Store"></a>
    </div>

</header>