{% extends 'shop/base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description | truncatewords:155 }}
    {% else %}
        Welcome to the cushion store where you can buy comfy and awesome cushions.
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Perfect Cushion Store
    {% else %}
        See Our Cushion Collection - Perfect Cushion Store
    {% endif %}
{% endblock %}

{% block content %}

    {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{ category.name }}</p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
            <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name }}">
            </div>
            <br>
            <div>
                <h1 class="text-center my_title">{{ category.name }}</h1>
                <p class="text-justify">{{ category.description }}</p>
            </div>
        {% else %}
            <img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="Our Product Collection">

            <br>
            <div>
                <br>
                <h1 class="text-center my_title">Our Product Collection</h1>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisi erat, ultricies vel nunc
                    et,
                    mattis fermentum dolor. Pellentesque posuere suscipit eros in iaculis. Aliquam interdum sit amet est
                    pretium venenatis. Phasellus eu tellus vel tellus eleifend porta. Donec pellentesque risus sed arcu
                    consectetur, tincidunt consequat ex elementum. Mauris eu pretium velit. Donec consectetur
                    consectetur
                    ante, a varius dui cursus id. Phasellus auctor pretium mattis. Quisque molestie orci a dui
                    sollicitudin,
                    et blandit neque hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Integer pretium ullamcorper massa, luctus consequat nunc fermentum ut. In quam
                    sapien,
                    ultricies quis luctus in, mollis fringilla magna.
                </p>
            </div>
        {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                    <div class="card text-center" style="min-width: 18rem;">
                        <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}"
                                                             alt=""></a>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <p>${{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>

            <!-- ''' Pagination Code ''' -->
            <div class="mx-auto">
                {% if products.paginator.num_pages > 1 %}
                    <hr>
                    <div class="text-center">
                        {% for pg in products.paginator.page_range %}
                            <a href="?page={{ pg }}"
                               class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %} ">{{ pg }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- ''' Pagination Code ''' -->
{% endblock %}

